{% if page.image and page.image.path %} {% assign page_image = page.image.path | default: page.image %} {% unless page_image contains '://' %} {% assign page_image = page_image | relative_url %} {% endunless %} {% assign page_image = page_image |
escape %}

<div class="page-image">
    
    <img src="{{ page_image }}" class="entry-feature-image u-photo" alt="{{ page.title }}" {% unless site.logo %}style="margin-top: 0;" {% endunless %} />
    {% if page.image.caption %}
        <div class="page-image-caption" style="z-index: 99999">{{ page.image.caption | markdownify }}</div>
    {% endif %} 
    {% include scroll-down-image.html %}
</div>

{% elsif page.header.video.id and page.header.video.provider %} {% include page-video.html %} {% include scroll-down-image.html %} {% endif %}
