@import "utilities/accessibility";
@import "utilities/animations";
@import "utilities/align";
@import "utilities/clearfix";
@import "utilities/float";
@import "utilities/text";
@import "utilities/responsive-embed";

.responsive-video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: -1 * $site-logo-height;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
